
p {
    font-size: larger;
}

.item {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black;*/
}

.child {
    margin-left: 12pt;
    /* border: 1px solid black; */
}

